#root {
  max-width: 1280px;
  margin: 0 auto;
  /* text-align: center; */
}

body {
  margin: 0;
  padding: 0;
}

.mainBody {
  width: 100vw !important;
  margin: 0;
  min-height: 90vh !important;
  padding: 1.5rem;
  min-width: none !important;
  background-color: rgb(222, 222, 222);
}